<div class="jumbotron jumbotron-fluid red-gradient">
  <div class="container text-center">
    <img alt="fitnesse-radius-fixture-jumbotron" class="jumbotron-image" src="assets/images/jumbotron.png">
    <a [href]="env.downloadUrl"
       class="btn btn-lg btn-info">Download</a>
    <a class="btn btn-lg btn-light" href="PlugIns.RadiusFixture.UserGuide">User Guide</a>
    <p class="lead">FitNesse fixture for RADIUS protocol communication</p>
    <hr>
    <p class="lead"><a [href]="env.gitHubUrl" class="lead">
      <img class="blacktocat" src="assets/images/blacktocat.png">View On GitHub</a></p>
  </div>
</div>
